#barcode-panel{
	#depth-change{
		padding-left: 10px;
		#state-change{
			position: relative;
		}

		#selectable{
			position: relative;
			list-style-type: none; 
			margin: 0px; 
			padding: 0px; 
			left: 10px;

			.ui-selectee { 
				background: white; 
				width: 25px;
			}
		}
	}
	#node-select{
		padding-left: 10px;
		#checkbox_group{
			position: relative;
			height: 100%;
			width: 15%;
			left: 25px;
		}
	}
	#width-height-controller{
		padding-left: 10px;
		#barcode_size_controller_group{
			position: relative;
			height: 100%;
			width: 15%;
			left: 35px;

			#width-menu {
				position: absolute; 
				width: 160px; 
				opacity:0.6;
				.menu-item-text{
					margin-left: 10px;
					text-align: center;
					vertical-align: middle;
				}

				.menu-item{
					vertical-align: middle;
					height:30px;
					.width-item {
						height:10px;
						top:-4px;
						width:100px; 
					    float:right;
					    margin-top:10px;
					    margin-right:10px;
					}
				}
			}

			#height-menu { 
				position: absolute; 
				width: 120px; 
				opacity:0.6;

				.height-item {
					width:120px; 
				    float:left;
				    margin-left: 20px;
				    margin-top:10px;
				    margin-bottom: 10px;
				}
			}	
		}
	}
}

