#barcode-panel{
	.btn-group{
		height: 100%;
		.btn{
			height: 100%;
		}
	}

	#selectable{
		list-style-type: none; 
		margin: 0; 
		padding: 0; 
		width: 300px;
		height: 100%;
		left: 3%;
		
		.ui-selecting { 
			background: #FECA40; 
		}

		.ui-widget-content { 
			margin: 0px; 
			padding: 0px; 
			float: left; 
			width: 30px; 
			height: 100%; 
			font-size: 1em; 
			text-align: center;
		}
	}
}

