#histogram-main .tick-label{
  font-size: 12px;
}

#histogram-main .label-wrapper > .label  {
  pointer-events: none;
  cursor: not-allowed;  
  color: white;
}

#histogram-main .bar{
  fill : #C0C0C0;
}

#histogram-main .x-axis{
  stroke-width : 2px;
}
#histogram-main .x-axis path{/*x轴线*/
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
#histogram-main .x-axis line{/*x轴上刻度标*/
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#histogram-main .y-axis{
  stroke-width : 2px;
}
#histogram-main .y-axis path{/*y轴线*/
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
#histogram-main .y-axis line{/*y轴上刻度标*/
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}




#histogram-main rect[class~=oneclick-highlight]{
  stroke: #dddd00;
  stroke-width: 2px;
}

#histogram-main .dbclick-selected {
  fill: #1F77B4;
}

/*


#mainTimeline .level-9.selected_seperate_bar {
  fill: #b3e2cd;
}
#mainTimeline .level-7.selected_seperate_bar {
  fill: #fdcdac;
}
#mainTimeline .level-5.selected_seperate_bar {
  fill: #cbd5e8;
}
#mainTimeline .level-3.selected_seperate_bar {
  fill: #f4cae4;
}
#mainTimeline .level-1.selected_seperate_bar {
  fill: #e6f5c9;
}

#mainTimeline .current {
  fill: #1F77B4;
  stroke: #b2df8a;
  stroke-width: 2px;
}


rect[class~=level-1]{
  fill:#C0C0C0;
}
rect[class~=level-2]{
  fill:white;
}
rect[class~=level-3]{
  fill:#C0C0C0;
}
rect[class~=level-4]{
  fill:white;
}
rect[class~=level-5]{
  fill:#C0C0C0;
}
rect[class~=level-6]{
  fill:white;
}
rect[class~=level-7]{
  fill:#C0C0C0;
}
rect[class~=level-8]{
  fill:white;
}
rect[class~=level-9]{
  fill:#C0C0C0;
}

*/

