.text{
  font-size: 12px;
}
.time{
  font-size: 12px;
}
.size{
  font-size: 12px;
}
.tick-label{
  font-size: 12px;
}

.label-wrapper > .label  {
  pointer-events: none;
  cursor: not-allowed;  
  color: white;
}

#tree-select-controller {
  text-align: right;
}

.bar{
  fill : #C0C0C0;
}

.x-axis{
  height : 1px;
  stroke-width : 2px;
}

.y-axis{
  stroke-width : 2px;
}