@font-family1: Microsoft Yahei;

@border:1px solid rgba(100,100,100,0.5);
@border2:1px solid #ffffff;

@background-color: rgba(100,100,100,0.5);
@test-background1: white;
@test-background2: white;
@test-background3: white;

@app_height:calc(~'100% - 40px');
@histogram-view_height: 20%;
@histogram-view_width: 100%;

@his-main_height: 100%;
@his-main_width: 87%;
@his-panel_height: 100%;
@his-panel_width: 3%;
@his-panel_left: @his-main_width;
@his-info_height: 100%;
@his-info_width: 10%;
@his-info_left: @his-panel_left + @his-panel_width;

@barcode-view_height: 80%;
@barcode-view_width:100%;

@barcode-main_height: 100%;
@barcode-main_width: 87%;
@barcode-panel_height: 100%;
@barcode-panel_width: 13%;
@barcode-panel_left: @barcode-main_width;

@frame-border: 2px solid #a0a0a0;/*三个view公用的border样式*/