@font-family1: Microsoft Yahei;

@border:1px solid rgba(100,100,100,0.5);
@border2:1px solid #ffffff;

@background-color: rgba(100,100,100,0.5);
@test-background1: red;
@test-background2: green;
@test-background3: blue;

@app_height:calc(~'100% - 40px');
@histogram-view_height: 15%;
@histogram-view_width: 100%;

@bar-histogram_height: 100%;
@bar-histogram_width: 90%;
@his-info_height: 100%;
@his-info_width: 10%;
@his-info_left: @bar-histogram_width;

@barcode-view_height: 85%;
@barcode-view_width:100%;