<!DOCTYPE html>
<html lang = 'en-US'>
<head>
  <meta http-equiv='content-type' content='text/html'; charset='UTF-8' />
  <title>Graph Layout</title>
  <link rel="stylesheet/less" href="css/all.less">
  <script>
    var less = {
      env:"development"
    };
  </script>
  <script src="bower_components/less/dist/less-1.7.5.min.js"></script>
</head>
<body>
   <!-- header -->
  <!-- <nav class="navbar navbar-inverse" role="navigation">
    <div class="container" id = "container">
    <a class="navbar-brand selected" href="#" id = 'graph-layout-control' >DBLP Graph</a>
    <a class = 'navbar-brand selected' href = '#' id = 'menu' style = 'right:170px; position:absolute'>Menu</a>
    </div> 
  </nav> -->
  <!-- tool bar -->
  <div id = 'toolbar'>
    <span class='button' data-tooltip='DBLPgraph' onclick=''>DBLPgraph</span>
    <div class = 'button-group' data-set='layout'>
      <!-- <span class = 'button' data-value='NodeLink' data-tooltip = 'NodeLink'>
        <i class ='xicon-tools-sail'></i>
      </span> -->
      <span class = 'button' data-raise='NodeLink' data-tooltip='Node Link Layout'>NodeLink</span>
      <span class = 'button' data-raise='NodeTrix' data-tooltip='NodeTrix Layout'>NodeTrix</span>
    </div>
    <span class = 'button' data-raise='Save' data-tooltip='Save Layout'>Save</span>
    <span class = 'button' data-raise='Reset' data-tooltip-'Reset Layout'>Reset</span>
  </div>

  <div id = 'right-box' style = 'top:58px'>
    <div class='slider-bar'> 
      <div class = 'control-left-text'>节点大小</div>
      <span id = 'ctrl-node-size-value'></span>
    </div>
  </div>


  <!-- graph layout -->
  <div id = 'app'></div>

  <!-- Loading -->
  <div class="loading" id = 'loading'>
      <div class="back"></div>
      <div class="logo">
          <i class="fa fa-spinner fa-spin fa-lg"></i>
          <span> 加载中 ...</span>
      </div>
  </div>

  <script type = 'text/template' id = 'nodePanelTemplate'>
    <div id ='nodePanel<%= id %>' class = 'nodePanel' style = "left:<%= x%>px; top:<%= y%>px; ">

      <div class = 'paper'>
        <div class = 'text'>Papers: total:<%= paperNum %>  unshowed:<%= unshowedPaperNum %></div>
        <div class = 'histogram'></div>
      </div>

      <div class = 'conference'>
      <div class = 'text'>Conferences</div>
      <div class = 'histogram'></div>
      </div>

      <div class = 'paperList'>
        <div class = 'text'>PaperList</div>
        <div class = 'list'></div>
      </div>
    </div>
  </script>
  
<script data-main="js/main" src="bower_components/requirejs/require.js"></script>
</body>
</html>
